name: Test
on: pull_request

jobs:
  lint-build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: NPM install
        run: npm install

      - name: Lint Check
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Type Check
        run: npm run typecheck

  tests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: NPM install
        run: npm install

      - name: Run Test
        run: npm run test
